@import "./../config";

.container-home {
  display: flex;
  flex-direction: column;
  min-height: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  //   background-color: red;
  //   star header
  .header {
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: $primary-color;
    .header-left {
      flex: 1;
      .header-left-logo {
        flex: 1;
        height: 80px;
      }
    }
    .header-center {
      flex: 1;
      margin: 10px;
      .header-pembungkus-search {
        display: flex;
        .header-search {
          height: 40px;
          width: 325px;
          padding-left: 10px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border-width: 0;
          font-size: 13px;
          background-color: $color-button-pasif;
        }
        .header-search:focus {
          outline-style: none;
        }
        .wrapper-header-search-logo {
          background-color: $color-button-pasif;
          width: 50px;
          margin: 0px;
          cursor: pointer;
          .header-center-logo-search {
            position: absolute;
            margin: 10px;
            // margin-left: 10px;
          }
        }
      }
    }
    .header-right {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 15px;
      .header-signin {
        // flex: 1;

        width: 80px;
        height: 40px;
        cursor: pointer;
        .Text-sigin {
          margin-top: 5px;
          font-size: 18px;
          font-weight: 800;
          text-align: center;
          color: #a7a7a7;
          cursor: pointer;
        }
      }
      .header-signup {
        // flex: 1;
        width: 80px !important;
        height: 40px;
        background-color: $color-button-pasif;
        border-radius: 5px;
        cursor: pointer;
      }
      .Text-signup {
        margin-top: 5px;
        font-size: 18px;
        font-weight: 800;
        text-align: center;
        color: #000000;
        cursor: pointer;
      }
    }
  }
  //   end header
  //star body
  .body {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    //Left
    .body-left {
      flex: 1;
      padding-bottom: 20px;
      // padding-right: 10px;
      .body-left-wrapping {
        display: flex;
        flex-direction: column;
        #body-left-typeofrent {
          flex: 1;
          font-size: 20px;
          font-weight: bold;
          color: #000000;
        }
        .body-left-DayMonthYear {
          display: flex;
          flex-direction: row;
          margin-left: 0;
          .btn-type-of-rent {
            flex: 1;
            width: 50px;
            height: 50px;
            background-color: $color-button-pasif;
            border-radius: 5px;
            margin-right: 10px;
            .text-type-of-rent {
              font-size: 20px;
              font-weight: bold;
              color: #000000;
              text-align: center;
              margin-top: 8px;
            }
          }
          .btn-type-of-rent-active {
            flex: 1;
            width: 50px;
            height: 50px;
            background-color: $color-button-active;
            border-radius: 5px;
            margin-left: 10px;
            .text-type-of-rent-active {
              font-size: 20px;
              font-weight: bold;
              color: #000000;
              text-align: center;
              margin-top: 8px;
            }
          }
          .btn-type-of-rent:hover {
            flex: 1;
            width: 50px;
            height: 50px;
            background-color: $primary-color;
            border-radius: 5px;
            margin-left: 10px;
            cursor: pointer;
            .text-type-of-rent:hover {
              font-size: 20px;
              font-weight: bold;
              color: $color-button-active;
              text-align: center;
              margin-top: 8px;
            }
          }
        }
        #body-left-Date {
          flex: 1;
          font-size: 20px;
          font-weight: bold;
          color: #000000;
        }
        .body-left-Data {
          background-color: $color-button-pasif;
          margin-right: 10px;
          border: 3px solid rgba(196, 196, 196, 0.25);
          box-sizing: border-box;
          height: 50px;
          border-radius: 10px;
        }
        #body-left-PropertyRoom {
          flex: 1;
          font-size: 20px;
          font-weight: bold;
          color: #000000;
        }
        #body-left-Bedroom {
          flex: 1;
          font-size: 15px;
          font-weight: bold;
          color: #929292;
        }
        .body-left-Bedroom-Wrapping {
          display: flex;
          flex-direction: row;

          .body-left-Bedroom-Number {
            flex: 1;
            height: 50px;
            background-color: $color-button-pasif;
            border-radius: 5px;
            margin-right: 10px;
            .body-left-Number {
              font-size: 20px;
              font-weight: bold;
              margin-top: 8px;
              text-align: center;
            }
          }
        }
        #body-left-Bathroom {
          flex: 1;
          font-size: 15px;
          font-weight: bold;
          color: #929292;
        }
        .body-left-Bathroom-Wrapping {
          display: flex;
          flex-direction: row;
          .body-left-Bathroom-Number {
            flex: 1;
            height: 50px;
            background-color: $color-button-pasif;
            border-radius: 5px;
            margin-right: 10px;
            .body-left-Number {
              font-size: 20px;
              font-weight: bold;
              margin-top: 8px;
              text-align: center;
            }
          }
        }
        #body-left-Aminities {
          flex: 1;
          font-size: 20px;
          font-weight: bold;
          color: #000000;
        }
        .body-left-furnished {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-right: 10px;
          #body-left-furnished-text {
            font-size: 20px;
            color: #929292;
            margin-top: -6px;
          }
        }
        .body-left-PetAllowed {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-right: 10px;
          #body-left-PetAllowed-text {
            font-size: 20px;
            color: #929292;
            margin-top: -6px;
          }
        }
        .body-left-sharedaccomodation {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-right: 10px;
          #body-left-sharedaccomodation-text {
            font-size: 20px;
            color: #929292;
            margin-top: -6px;
          }
        }
        #body-left-Budget {
          flex: 1;
          font-size: 20px;
          font-weight: bold;
          color: #000000;
        }
        .TotalBudget {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-right: 10px;
          #LessThan {
            font-size: 20px;
            font-weight: bold;
            flex: 1;
          }
          #InputTotalBudget {
            background-color: $color-button-pasif;
            height: 50px;
            border-width: 0px;
            border-radius: 5px;
            flex: 1;
          }
        }
        .body-left-button {
          width: 120px;
          height: 50px;
          margin-top: 20px;
          border-radius: 10px;
          border-width: 0px;
          font-size: 15px;
          font-weight: 800;
          color: $primary-color;
          background-color: $color-button-active;
          cursor: pointer;
        }
        .body-left-button:hover {
          width: 120px;
          height: 50px;
          margin-top: 20px;
          margin-left: 50px;
          border-radius: 10px;
          border-width: 0px;
          font-size: 15px;
          font-weight: 800;
          color: $color-button-active;
          background-color: $primary-color;
          cursor: pointer;
        }
      }
    }
    //Right
    .body-right {
      flex: 2;
      padding-bottom: 20px;
      background-color: $color-button-pasif;
      .body-right-wrapping {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
        .body-right-content {
          width: 259px;
          border-width: 10px;
          margin: 10px;
          border: 3px solid rgba(196, 196, 196, 0.25);
          box-sizing: border-box;
          border-radius: 5px;
          min-height: 120px;
          cursor: pointer;
          .body-right-image-content {
            border-radius: 5px;
            margin-top: 8px;
            margin-left: 12px;
            width: 230px;
            height: 150px;
            position: absolute;
          }
          .body-right-image-content:hover {
            transform: scale(1.1);
          }
          .body-right-furnished {
            height: 20px;
            width: 80px;
            background-color: $primary-color;
            border-radius: 5px;
            margin-left: 15px;
            margin-top: 15px;
            position: relative;
            .body-right-furnished-text {
              font-size: 10px;
              font-weight: 800;
              color: #000000;
              padding-top: 2px;
              padding-left: 15px;
            }
          }
          .body-right-description {
            margin-top: 115px;
            margin-left: 10px;
            position: relative;
            .body-right-price-year {
              display: flex;
              flex-direction: row;
              .body-right-price {
                font-size: 15px;
                font-weight: 700;
                color: #000000;
              }
              .body-right-simbol {
                font-size: 15px;
                font-weight: 700;
                color: #000000;
              }
              .body-right-year {
                font-size: 15px;
                font-weight: 700;
                color: #000000;
              }
            }
            .body-right-propertyroom {
              display: flex;
              flex-direction: row;
              margin-top: -20px;
              #body-right-beds {
                font-size: 11px;
                font-weight: 700;
                color: #000000;
              }
              #body-right-bath {
                font-size: 11px;
                font-weight: 700;
                color: #000000;
              }
              #body-right-sqft {
                font-size: 11px;
                font-weight: 700;
                color: #000000;
              }
            }
            .body-right-location {
              display: flex;
              flex-direction: row;
              margin-top: -20px;
              #body-right-kota {
                font-size: 11px;
                font-weight: 700;
                color: #a8a8a8;
              }
              #body-right-kecamatan {
                font-size: 11px;
                font-weight: 700;
                color: #a8a8a8;
              }
            }
          }
        }
      }
    }
  }
  //end body
}
